* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 990px) {
    html {
      font-size: 0.7em;
    }
  }
  
  @media only screen and (max-width: 750px) {
    html {
      font-size: 0.5em;
    }
  }
  
  @media only screen and (max-width: 680px) {
    html {
      font-size: 0.33em;
    }
  }

#no-border{
    border: none;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hidden{
    overflow: hidden;
}

.fondo-pantalla {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.contenedor-div-img-instrucciones{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.div-img-instrucciones {
    width: 0em;
    overflow: hidden;
    margin-top: 2em;
    z-index: 1;
    transition: 1s;
}

.div-img-instrucciones img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fondo-pantalla img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre-fondo {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.titulo-mastermind {
    width: 100vw;
    height: 20vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.titulo-superior {
    width: 9.9em;
    height: 10vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 2.8em;
    background: linear-gradient(45deg,blue, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Fredericka the Great', cursive;
}

.titulo-superior a {
    text-decoration: none;
    color: inherit;
}

.titulo-inferior {
    width: 28em;
    height: 10vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 4em;
    /* border: 0.1em solid black; */
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: blink 2s infinite;
}

.texto-titulo {
    font-size: x-large;
    background: linear-gradient(45deg, violet, indigo, blue, green, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(144, 143, 143, 0.7);
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

/* WELCOME(INDEX) */

.div-izquierdo, .div-derecho{
    width: 50vw;
    height: 100vh;
    /* border: 0.1em solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.degradado{
    color: white;
    /* border: 0.1em solid black; */
    width: 9.9em;
}

.sobre-fondo a{
    text-decoration: none;
    color: inherit;
}

.div-background-white{
    background-color: #ffffff71;
    width: 28em;
    height: 14em;
    border: 0.1em solid black;
    border-radius: 1.2em;
    text-align: center;
}

.small{
    width: 9.9em;
    /* border: 0.1em solid black; */
}

.small-logo{
    width: 28em;
    /* border: 0.1em solid black; */
}

/* MENU */

.div-video {
    width: 100vw;
    height: 50vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.marco-video{
    width: 36.4em;
    height: 21em;
    border: 0.1em solid black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 3em;
}

.contenedor-video-presentacion {
    width: 35.4em;
    height: 20em;
    border: 0.1em solid black;
    border-radius: 1em;
}

.contenedor-video-presentacion video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.9em;
    }

.div-botones {
    width: 100vw;
    height: 27.4vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-boton-instrucciones,
.div-boton-play {
    width: 17.7em;
    height: 27.4vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-instrucciones {
    width: 10em;
    height: 4em;
    background-color: #3498db;
    border: 0.1em solid black;
    border-radius: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: 'Monoton', cursive;
    margin-bottom: 1em;
    font-size: 1em;
    transition: 0.5s;
}

.boton-play {
    width: 10em;
    height: 4em;
    background-color: #2ecc71;
    border: 0.1em solid black;
    border-radius: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: 'Monoton', cursive;
    margin-bottom: 1em;
    font-size: 1em;
    transition: 0.5s;
}

.boton-play:hover,
.boton-instrucciones:hover {
    margin-bottom: 1.5em;
    margin-right: 0.5em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    cursor: pointer;
}


.boton-volver:hover {
    margin-bottom: 3.5em;
    margin-right: 0.5em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    cursor: pointer;
}

.div-boton-instrucciones a,
.div-boton-play a {
    text-decoration: none;
    color: inherit;
}

/* EXPLICACION */

.div-explicacion {
    width: 91vw;
    height: 58vh;
    /* border: 0.1em solid white; */
    color: white;
    padding-left: 4em;
    padding-right: 4em;
    margin-top: 2.2em;
}

.div-background-white-explicacion{
    background-color: #ffffff71;
    width: 28em;
    height: 20vh;
    border: 0.1em solid black;
    border-radius: 1.2em;
    text-align: center;
}

.texto-explicacion{
    margin: 0.35em;
}

.white{
    text-shadow: none;
}

.grande{
    font-size:x-large;
    text-align: center;
    font-weight: bold;  
    margin-bottom: 0.5em;
}

.boton-volver{
    width: 10em;
    height: 4em;
    background-color: #2ecc71;
    border: 0.1em solid black;
    border-radius: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: 'Monoton', cursive;
    font-size: 1em;
    transition: 0.5s;
}

.div-boton-volver{
    width: 96vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.7em;
}

.div-boton-volver a{
    text-decoration: none;
    color: inherit;
}

/* DIFFICULTY */

.div-selector-dificultad{
    width: 100vw;
    height: 68em;
    /* border: 0.1em solid black; */
}

.contenedor-div-dificultades{
    width: 50vw;
    height: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21vw;
    margin-right: 21vw;
    margin-top: 1.5em;
    margin-bottom: 4em;
}

.contenedor-div-dificultades a{
    width: 50vw;
    height: 18em;
    border: 0.1em solid #004870;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21vw;
    margin-right: 21vw;
    border-radius: 3em;
    box-shadow: #004870 3px 3px 6px 0px inset, #004870 -3px -3px 6px 1px inset;
    padding-left: 2.5em;
    padding-right: 2.5em;
    cursor: pointer;
}

.div-dificultades{
    width: 25em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-img-dificultades{
    height: 16em;
}

.div-img-dificultades img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.9em;
}

.div-interno-dificultades{
    width: 20em;
    height: 5.5em;
    text-align: center;
    padding-bottom: 12em;
    /* background-color: #3498db81; */

}

.margin-top{
    margin-top: 0.7em;
}

.margin-top-grande{
    margin-top: 1.4em;
}

.margin-top label{
    font-size: 1.6em;
    background: linear-gradient(45deg,blue, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    margin-left: 1em;
}

.rosa label{
    font-size: 1.6em;
    background: linear-gradient(45deg,purple, pink);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    margin-right: 1em;
}

.rojo label{
    font-size: 1.6em;
    background: linear-gradient(45deg,red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    margin-right: 1em;
}

.azul label{
    font-size: 1.6em;
    background: linear-gradient(45deg,blue, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    margin-right: 1em;
}

.marron label{
    font-size: 1.6em;
    background: linear-gradient(45deg,rgb(215, 215, 4), brown);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    margin-right: 1em;
}

#facil{
    background-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
}

.cursiva{
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight:normal;
}

.botones-dificultad{
    width: 30vw;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32.5vw;
    margin-right: 32.5vw;
    margin-top: 4em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.fondo-pantalla-dificultad {
    height: 100vh;
    z-index: -1;
}

.fondo-pantalla-dificultad img {
    width: 169.6%;
}

.margin-right{
    margin-right: 7em;
}

.margin-right:hover{
    margin-right: 7.5em;
}

/* COLORES - EASY */

.div-general-colores{
    width: 100vw;
    height: 22em;
    /* background-color: #2ecc71; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-interior-colores{
    width: 48em;
    height: 24.5em;
    border: 0.1em solid black;
    text-align: center;
    background: radial-gradient(circle at 100% 100%, #c0bebe 0%, #EBEBEB 50%, #EBEBEB 50%, #c0bebe 100%);
    border-radius: 2em;
    padding-top: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 2.5em;
}

.div-separacion-colores-exterior{
    width: 48em;
    height: 19.6em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-separacion-colores-interior{
    width: 12em;
    height: 18em;
    /* border: 0.1em solid black; */
    margin-bottom: 2em;
}

.div-color-seleccionado{
    width: 12em;
    height: 10em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
}

.color-seleccionado{
    width: 8em;
    height: 8em;
    background-color: white;
    border: 0.1em solid black;
    border-radius: 1em;
}

.div-input-color{
    width: 12em;
    height: 3em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-input-color input{
    width: 6em;
    height: 2em;
    border: 0.1em solid black;
    background-color: white;
}

.input-color-text{
    width: 12em;
    height: 5em;
    /* border: 0.1em solid black; */
}

.color-text{
    font-size: x-large;
    background: linear-gradient(45deg, violet, indigo, blue, green, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: bold;
    margin-top: 0.5em;
}

.color-text-black{
    margin-top: 0.5em;
    font-size: larger;
    background: linear-gradient(45deg, black, grey);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: bold;
}

.margin-bottom{
    margin-bottom: 1em;
}

.margin-bottom input{
    font-size: large;
    font-family: 'Sedgwick Ave Display', cursive;
    width: 12.8em;
    border: 0.1em solid black;
    border-radius: 0.4em;
    text-align: center;
    margin-left: 0.5em;
}

/* COLORES - MEDIUM */

.div-interior-colores-medium{
    width: 60em;
    height: 24.5em;
    border: 0.1em solid black;
    text-align: center;
    background: radial-gradient(circle at 100% 100%, #c0bebe 0%, #EBEBEB 50%, #EBEBEB 50%, #c0bebe 100%);
    border-radius: 2em;
    padding-top: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 2.5em;
}

.div-separacion-colores-exterior-medium{
    width: 60em;
    height: 19.6em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* COLORES - HARD */

.div-interior-colores-hard{
    width: 72em;
    height: 24.5em;
    border: 0.1em solid black;
    text-align: center;
    background: radial-gradient(circle at 100% 100%, #c0bebe 0%, #EBEBEB 50%, #EBEBEB 50%, #c0bebe 100%);
    border-radius: 2em;
    padding-top: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 2.5em;
}

.div-separacion-colores-exterior-hard{
    width: 72em;
    height: 19.6em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WINNER - LOSSER */

.div-felicitacion{
    width: 100vw;
    height: 50vh;
    /* background-color: #c0bebe; */
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2.2em;
    /* color: white; */
}

.texto-felicitacion-verde{
    font-size: 1.8em;
    background: linear-gradient(45deg, pink, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}

.texto-felicitacion-naranja{
    font-size: 1.8em;
    background: linear-gradient(45deg, red, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#nickname{
    font-size: 1.8em;
    color: white;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.cerebros{
    font-size: 1.3em;
}

.margen{
    margin-left: 4em;
}

.contenedor-soluciones-exterior{
    width: 100vw;
    height: 6em;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 1.4em;
}

.contenedor-soluciones-interior{
    width: 30em;
    height: 6em;
    border: 0.01em solid black;
    border-radius: 1.5em;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-image: url('../img/madera.jpeg');
}

/* GAME - GAME EASY */

.sobre-fondo-flex{
    width: 100vw;
    height: 100vh;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content:center;
    align-items: center;
}

.fondo-madera{
    width: 47.5em;
    height: 41.5em;
    border: 0.05em solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url('../img/acero.jpg');
    background-size: cover; 
    background-position: center;
    border-radius: 3.3em;
}

.fondo-madera-interior{
    width: 46em;
    height: 40em;
    border: 0.05em solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-color:#46494f; */
    background-image: url('../img/madera.jpeg');
    background-size: cover; 
    background-position: center;
    border-radius: 3em;
}

.div-colores-importados{
    width: 4em;
    height: 40em;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 1.5em;
}

.div-colores-importados-interior{
    width: 10em;
    height: 30em;
    /* border: 0.01em solid black; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.color-importado{
    width: 4em;
    height: 4em;
    border-radius: 1em;
    border: 0.01em solid black;
    background-color: white;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.color-importado:hover{
    width: 4.4em;
    height: 4.4em;
    box-shadow: gray 3px 3px 6px 0px inset, gray -3px -3px 6px 1px inset;
    cursor: pointer;
}

.tablero-exterior{
    width: 36em;
    height: 40em;
    /* border: 0.01em solid black; */
    display: flex;
    align-items:flex-start;
}

.zona-juego{
    width: 28em;
    height: 40em;
    /* border: 0.01em solid black; */
    display: flex;
    align-items: center;
}

.acceso-botones-juego{
    width: 8em;
    height: 40em;
    /* border: 0.01em solid black; */
    display: flex;
    align-items: center;
}

.interior-acceso-botones-juego{
    width: 8em;
    height: 28em;
    /* border: 0.01em solid black; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.interior-acceso-botones-juego-easy{
    width: 8em;
    height: 36em;
    /* border: 0.01em solid black; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-left: 1em;
}

.aclaracion{
    width: 8em;
    height: 11.5em;
    border: 0.01em solid black;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.599);
}

.titulo-aclaracion{
    width: 8em;
    height: 1.5em;
    /* border: 0.01em solid black; */
    background: linear-gradient(45deg, violet, indigo, blue, green, orange, red);
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(144, 143, 143, 0.7);
    background-clip: text;
    color: transparent;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: bold;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 0.5em;
}

.div-aclaracion-colores{
    width: 9em;
    height: 9em;
    /* border: 0.01em solid black; */
    display: flex;
}

.aclaracion-colores{
    width: 2em;
    height: 9em;
    /* border: 0.01em solid black; */
}

.div-blanco, .div-morado{
    width: 2em;
    height: 4.5em;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.blanco{
    background-color: white;
}

.morado{
    background-color: purple;
}

.div-texto-colores{
    width: 6em;
    height: 9em;
    /* border: 0.01em solid black; */
    background: linear-gradient(45deg, grey, black, grey);
   -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(144, 143, 143, 0.7);
    background-clip: text;
    color: transparent;
    font-family: 'Sedgwick Ave Display', cursive;
    /* font-weight: bold; */
}

.texto-blanco, .texto-morado{
    width: 6em;
    height: 4.5em;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-juego-externo{
    width: 6.4em;
    height: 3em;
    border: 0.01em solid black;
    border-radius: 1em;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s;
}
.boton-juego-externo:hover{
    width: 6.6em;
    height: 3.6em;
    box-shadow: #004870 3px 3px 6px 0px inset, #004870 -3px -3px 6px 1px inset;
    cursor: pointer;
}

.boton-juego-externo div{
    background: linear-gradient(45deg, violet, indigo, blue, green, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(144, 143, 143, 0.7);
}

.div-huecos-principales{
    width: 16em;
    height: 40em;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}

.fila-huecos-principales{
    width: 16em;
    height: 4em;
    /* border: 0.01em solid black; */
    /* background-color: #46494f; */
    display: flex;
}

.div-hueco-principal{
    width: 4em;
    height: 4em;
    /* border: 0.01em solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hueco-principal{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 0.01em solid black;
}

.fila-huecos-secundarios{
    width: 12em;
    height: 4em;
    display: flex;
    /* border: 0.01em solid black; */
    /* background-color: yellow; */
}

.div-huecos-secundarios{
    width: 12em;
    height: 40em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 0.01em solid black; */
    /* background-color: #3498db; */
}

.div-hueco-secundario{
    width: 2em;
    height: 4em;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-hueco-secundario-check{
    width: 4em;
    height: 4em;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-hueco-secundario-interno{
    width: 2em;
    height: 2em;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #3498db; */
}

.div-hueco-secundario-interno-check{
    width: 4em;
    height: 2em;
    /* border: 0.01em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #3498db; */
}

.hueco-secundario{
    width: 1.2em;
    height: 1.2em;
    border: 0.01em solid black;
    border-radius: 50%;
    /* background-color: white; */
}

.check{
    width: 3.2em;
    height: 1.4em;
    border: 0.01em solid black;
    border-radius: 0.5em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.3s;
}

.check:hover{
    width: 3.6em;
    height: 1.8em;
    box-shadow: #004870 3px 3px 6px 0px inset, #004870 -3px -3px 6px 1px inset;
    cursor: pointer;
}

.check div{
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    background: linear-gradient(45deg,blue, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
}

/* GAME MEDIUM */

.fondo-madera-medium{
    width: 45.5em;
    height: 33.5em;
    border: 0.05em solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url('../img/acero.jpg');
    background-size: cover; 
    background-position: center;
    border-radius: 3.3em;
}

.fondo-madera-interior-medium{
    width: 44em;
    height: 32em;
    border: 0.05em solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-color:#46494f; */
    background-image: url('../img/madera.jpeg');
    background-size: cover; 
    background-position: center;
    border-radius: 3em;
}

.zona-juego-medium{
    width: 28em;
    height: 32em;
    /* border: 0.01em solid black; */
    display: flex;
    align-items: center;
    /* background-color: #3498db; */
    margin-top: 4em;
}

.div-huecos-principales-medium{
    width: 16em;
    height: 32em;
    /* border: 0.01em solid black; */
    /* background-color: red; */
}

.div-huecos-secundarios-medium{
    width: 12em;
    height: 32em;
    /* border: 0.01em solid black; */
    /* background-color: #3498db; */
}

.div-colores-importados-interior-medium{
    width: 10em;
    height: 30em;
    /* border: 0.01em solid black; */
    margin-left: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.interior-acceso-botones-juego-medium{
    width: 8em;
    height: 28em;
    /* border: 0.01em solid black; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-left: 1em;
}

/* GAME HARD */

.fondo-madera-hard{
    width: 45.5em;
    height: 33.5em;
    border: 0.05em solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url('../img/acero.jpg');
    background-size: cover; 
    background-position: center;
    border-radius: 3.3em;
}

.fondo-madera-interior-hard{
    width: 44em;
    height: 32em;
    border: 0.05em solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-color:#46494f; */
    background-image: url('../img/madera.jpeg');
    background-size: cover; 
    background-position: center;
    border-radius: 3em;
}

.zona-juego-hard{
    width: 28em;
    height: 24em;
    /* border: 0.01em solid black; */
    display: flex;
    align-items: center;
    /* background-color: #3498db; */
    margin-top: 8em;
}

.div-huecos-principales-hard{
    width: 16em;
    height: 24em;
    /* border: 0.01em solid black; */
    /* background-color: red; */
}

.div-huecos-secundarios-hard{
    width: 12em;
    height: 24em;
    /* border: 0.01em solid black; */
    /* background-color: #3498db; */
}

.div-colores-importados-interior-hard{
    width: 10em;
    height: 30em;
    /* border: 0.01em solid black; */
    margin-left: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.interior-acceso-botones-juego-hard{
    width: 8em;
    height: 28em;
    /* border: 0.01em solid black; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-left: 1em;
}

/* COLORS-CUSTOM */

.div-seleccion-custom{
    display: flex;
}

.redux input{
    width: 3em;
    height: 1.5em;
}

.redux label{
    margin-left: 8em;
}

.center input{
    width: 11em;
    height: 1.5em;
}

.check-custom{
    margin-top: 0.9em;
    margin-left: 0.8em;
    width: 3.6em;
    height: 1.8em;
    box-shadow: #004870 3px 3px 6px 0px inset, #004870 -3px -3px 6px 1px inset;
    cursor: pointer;
}

.check-custom:hover{
    width: 4em;
    height: 2.2em;
    box-shadow: #004870 3px 3px 6px 0px inset, #004870 -3px -3px 6px 1px inset;
    cursor: pointer;
}

