* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fondo-pantalla {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.fondo-pantalla img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre-fondo{
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-video-presentacion{
    width: 35.4em;
    height: 20em;
    border: 0.1em solid black;
    border-radius: 1em;
}

.contenedor-video-presentacion video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.9em;
}
