* {
    margin: 0;
    padding: 0;
}

#no-border{
    border: none;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hidden{
    overflow: hidden;
}

.fondo-pantalla {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.fondo-pantalla img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre-fondo {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.titulo-mastermind {
    width: 100vw;
    height: 20vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.titulo-superior {
    width: 9.9em;
    height: 10vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 2.8em;
    background: linear-gradient(45deg,blue, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Fredericka the Great', cursive;
}

.titulo-superior a {
    text-decoration: none;
    color: inherit;
}

.titulo-inferior {
    width: 28em;
    height: 10vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 4em;
    /* border: 0.1em solid black; */
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: blink 2s infinite;
}

.texto-titulo {
    font-size: x-large;
    background: linear-gradient(45deg, violet, indigo, blue, green, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(144, 143, 143, 0.7);
    animation: blink 2s infinite;
    font-family: 'Sedgwick Ave Display', cursive;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

/* WELCOME(INDEX) */

.div-izquierdo, .div-derecho{
    width: 50vw;
    height: 100vh;
    /* border: 0.1em solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.degradado{
    color: white;
    /* border: 0.1em solid black; */
    width: 9.9em;
}

.sobre-fondo a{
    text-decoration: none;
    color: inherit;
}

.div-background-white{
    background-color: #ffffff71;
    width: 28em;
    height: 14em;
    border: 0.1em solid black;
    border-radius: 1.2em;
    text-align: center;
}

.small{
    width: 9.9em;
    /* border: 0.1em solid black; */
}

.small-logo{
    width: 28em;
    /* border: 0.1em solid black; */
}

/* MENU */

.div-video {
    width: 100vw;
    height: 50vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.marco-video{
    width: 36.4em;
    height: 21em;
    border: 0.1em solid black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 3em;
}

.contenedor-video-presentacion {
    width: 35.4em;
    height: 20em;
    border: 0.1em solid black;
    border-radius: 1em;
}

.contenedor-video-presentacion video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.9em;
    }

.div-botones {
    width: 100vw;
    height: 27.4vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-boton-instrucciones,
.div-boton-play {
    width: 17.7em;
    height: 27.4vh;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-instrucciones {
    width: 10em;
    height: 4em;
    background-color: #3498db;
    border: 0.1em solid black;
    border-radius: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: 'Monoton', cursive;
    margin-bottom: 1em;
    font-size: 1em;
    transition: 0.5s;
}

.boton-play {
    width: 10em;
    height: 4em;
    background-color: #2ecc71;
    border: 0.1em solid black;
    border-radius: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: 'Monoton', cursive;
    margin-bottom: 1em;
    font-size: 1em;
    transition: 0.5s;
}

.boton-play:hover,
.boton-instrucciones:hover {
    margin-bottom: 1.5em;
    margin-right: 0.5em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    cursor: pointer;
}


.boton-volver:hover {
    margin-bottom: 3.5em;
    margin-right: 0.5em;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    cursor: pointer;
}

.div-boton-instrucciones a,
.div-boton-play a {
    text-decoration: none;
    color: inherit;
}

/* EXPLICACION */

.div-explicacion {
    width: 94.5vw;
    height: 58vh;
    /* border: 0.1em solid white; */
    color: white;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin-top: 1.5em;
}

.div-background-white-explicacion{
    background-color: #ffffff71;
    width: 28em;
    height: 20vh;
    border: 0.1em solid black;
    border-radius: 1.2em;
    text-align: center;
}

.texto-explicacion{
    margin: 0.35em;
}

.white{
    text-shadow: none;
}

.grande{
    font-size:x-large;
    text-align: center;
    font-weight: bold;  
    margin-bottom: 0.5em;
}

.boton-volver{
    width: 10em;
    height: 4em;
    background-color: #2ecc71;
    border: 0.1em solid black;
    border-radius: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: 'Monoton', cursive;
    font-size: 1em;
    transition: 0.5s;
}

.div-boton-volver{
    width: 96vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.7em;
}

.div-boton-volver a{
    text-decoration: none;
    color: inherit;
}

/* DIFFICULTY */

.div-selector-dificultad{
    width: 100vw;
    height: 68em;
    /* border: 0.1em solid black; */
    
}

.contenedor-div-dificultades{
    width: 50vw;
    height: 18em;
    border: 0.1em solid #004870;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21vw;
    margin-right: 21vw;
    border-radius: 3em;
    box-shadow: #004870 3px 3px 6px 0px inset, #004870 -3px -3px 6px 1px inset;
    margin-bottom: 2em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    cursor: pointer;
}

.div-dificultades{
    width: 25em;
    /* border: 0.1em solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-img-dificultades{
    height: 16em;
}

.div-img-dificultades img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.9em;
}

.div-interno-dificultades{
    width: 20em;
    height: 5.5em;
    text-align: center;
    padding-bottom: 6.6em;
    /* background-color: #3498db81;
    border-radius: 1em; */
}

.margin-top{
    margin-top: 0.7em;
}

.margin-top label{
    font-size: 1.3em;
    background: linear-gradient(45deg,blue, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Fredericka the Great', cursive;
    margin-left: 1em;
}

.rosa label{
    font-size: 1.3em;
    background: linear-gradient(45deg,purple, pink);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Fredericka the Great', cursive;
    margin-left: 1em;
}

.rojo label{
    font-size: 1.3em;
    background: linear-gradient(45deg,red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Fredericka the Great', cursive;
    margin-left: 1em;
}

#facil{
    background-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Fredericka the Great', cursive;
}

.cursiva{
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight:normal;
}

.botones-dificultad{
    width: 30vw;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 31vw;
    margin-right: 31vw;
    margin-top: 4em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.fondo-pantalla-dificultad {
    height: 100vh;
    z-index: -1;
}

.fondo-pantalla-dificultad img {
    width: 134%;
}




